@import "./index.css";
.message-window {
    padding-top: 50px;
    padding-bottom: 80px;
}

body {
    background-color: var(--background-color);
}

@media (min-width: 769px) {
    .bot {
        max-width: 50%;
        margin-left: 25%;
    }
}