.chat-navbar {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 0 30px;
    align-items: center;
    position: fixed; /* Fix the navbar to the top */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Make the navbar full width */
    z-index: 1000; /* Ensure the navbar is on top of other content */
    height: 60px; /* Optional: Set a fixed height */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for better visibility */
}

.profile {
    display: flex;
    align-items: center;
}
.profile-name {
    margin-left: 20px;
    font-size: large;
    font-weight: 600;
}
.pin-message {
    margin-right: 60px;
}