
.message-timeline {
    font-family: sans-serif;
    font-size: small;
    margin-left: 15px;
    margin-top: -8px;
}

.message {
    display: flex;
    flex-direction: column;
    margin: 15px 10px;
    border: 1px solid rgb(96, 93, 93);
    border-radius: 5px;
    max-width: 80%;
    width: fit-content;
    padding: 5px 10px;
    background-color: rgb(243, 237, 237);
    word-wrap: break-word; /* Ensures that long words or strings will break and wrap to the next line */
    overflow-wrap: break-word; /* Ensures that long words or strings will break and wrap to the next line */
}

.message-body {
    font-family: sans-serif;
    text-wrap: wrap;
}


.message.bot {
    background-color: #e0e0e0; /* Light grey for bot messages */
    text-align: left;
    margin-right: auto; /* Align to left */
  }

.message.human {
    background-color: #007bff; /* Blue for user messages */
    color: white;
    text-align: right;
    margin-left: auto; /* Align to right */
  }
.message-header {
    display: flex;
    justify-content: end;
    font-size: medium;
    font-weight: 500;
}